body {
  background: black url(assets/bg.png); 
}

header {
  margin-bottom: 30px;
  padding-top: 15px; 
}

.container {
	padding-top: 30px;
}

.carousel {
	width: 7300px;
	padding: 0;
	position: relative;
/*	left: -800px;*/
	position: relative;
}

.single-slide {
	display: inline-block;
	width: 800px;
	text-align: center;
}

.single-slide img {
	width: 800px;
	max-width: 100%;
}

.carousel-stage {
	width: 800px;
	overflow: hidden; 
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.carousel-nav-item {
	color: #fff;
	font-size: 30px;
}

.carousel-nav {
	position: absolute; 
	top: 50%;
	transform: translateY(-50%); 
	width: 100%;
	float: left;
}

.carousel-next {
	 float: right; 
}

.carousel_stage {
	margin-left: auto; 
	margin-right: auto;
} 